# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

node_modules
# .vscode
# .vivado
# .python
# .json
.*
!/.gitignore

# vivado
*.log
*.str
*.jou
*.Xil
*.wpc
*.xpr
*.wdf
*.lpr
webtalk_pa.xml
*.zip

# base design
base_design
hd_visual
example/linux/example