[submodule "zycap/interfacer"]
	path = zycap/interfacer
	url = git@github.com:warclab/interfacer.git
	branch = initial-develop
[submodule "papers/demo"]
	path = papers/demo
	url = git@github.com:Bucknalla/zycap2-demo-paper.git
